# Ignore everything
*

# But not these files...
!.gitignore
!CameraController.cs
!PlayerController.cs
!PlayerHUD.cs
!RoundController.cs
!DieController.cs
# etc...

# ...even if they are in subdirectories
!*/